html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	overflow-x:hidden;
}
hr {
	line-height:2;
	width:50%;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color:#80d6a3;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
a {
	color:white;
	text-decoration:none;
}
a:hover {
	color:#80d6a3;
	text-decoration:none;
}
fieldset {
	width:100%;
}
form {
	width:80%;
	padding:40px;
	border:1px solid black;
}
form input[type=text], form input[type=password], form input[type=email], input[type=number] {
	margin-top:4px;
	margin-bottom:10px;
	width:100%;
	padding:10px;
	border:none;
	border-bottom:2px solid black;
	background-color: none;
	color:blue;
}
form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, input[type=number]:focus {
	border-color:black;
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: none;
	border:1px;
	border-color:none;
	border-radius:5px;
}
label {
	line-height:1.7;
	display: inline-block;
	margin-top: .5rem;
	margin-bottom:10px;
	font-weight:700;
	text-decoration: underline;
	text-decoration-color:blue;
}
textarea {
	overflow: auto;
	resize: vertical;
	width:100%;
	min-height: 150px;
	border:1px solid black;
}
textarea:focus {
	border-color: none;
}
input {
	-webkit-appearance:none;
}
input:-webkit-autofill {
	background-color:none !important;
	color:blue;
}
input[type=number] {
	appearance:textfield;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance:none;
	appearance:none;
	margin:0;
}
button {
	-webkit-appearance:none;
	border-radius: 5px;
	border:none;
	background-color:none;
}
img {
	width:auto;
	height:auto;
	margin:40px 0;
}
.div-label {
	width:auto;
}
.form-btn-container {
	padding-top:2rem;
	padding-bottom:0.167rem;
}
.form-btn-container .col {
	width:200px;
}
.btn-form {
	width:100%;
	max-width:300px;
	padding:10px 0 !important;
	display:inline;
	margin-left: auto !important;
	margin-right: auto !important;
}
.btn, ::-webkit-file-upload-button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus, button:hover, button:focus, a.btn:hover, a.btn:focus {
	text-decoration: none;
}

.btn:hover, .btn:focus, button:hover, button:focus, ::-webkit-file-upload-button:hover, ::-webkit-file-upload-button:focus, a.btn:hover, a.btn:focus {
	outline: 0;
	background-color:#333;
	color:#80d6a3;
}

.btn.disabled, .btn:disabled {
	opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
	background-image: none;
}
.p-list {
	margin:10px 20px 0 20px;
}

.bg-default {
	background-color:#333;
}
.bg-invert {
	background-color:white;
}
.invert {
	color:white;
}
.center {
	display: block;
	margin:auto;
	width:200px;
	height:200px;
}
.header {

}
.section {
	padding:80px 0;
	padding-bottom:120px;
}
.section-title {
	width:100%;
	font-weight:700;
	font-size:4rem;
	padding-top:1rem;
	padding-bottom:3.4rem;
	text-align:center;
}
.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0;
	list-style: none;
}
.navbar {
	width:99.9vw;
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.7rem 1.1rem;
	z-index:999;
}
.navbar-brand {
	color:white;
	display: inline-block;
	padding-top: 0.376rem;
	padding-bottom: 0.376rem;
	margin-right:4rem;
	margin-left:3rem;
	font-size: 2.3rem;
	line-height: inherit;
	white-space: nowrap;
	font-weight:700;
}
.navbar-brand:hover {
	color:#dedede;
}
.navbar-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none;
}
.nav-link {
	display:inline-block;
	width:100px;
	padding:0.56rem 1rem;
	font-weight:700;
	animation: none !important;
}
#banner {
	background: url('../img/banner.jpg');
	background-size: cover;
	padding:100px 0;
	padding-top:200px;
	position: relative;
	z-index:1;
	min-height:100vh;
}
#banner:before {
	position: absolute;
	z-index: 99;
	background: rgba(0, 0, 0, 0.73);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
}
#banner .block {
 	position: relative;
	z-index: 999;
	color: #fff;
}
#banner .block h1 {
  	padding-bottom: 25px;
  	font-size: 55px;
  	font-weight: 100;
  	color: #80d6a3;
	font-weight:700;
}
#banner .block h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}
#banner .block .btn-learn {
	border: 1px solid #fff;
	color: #fff;
	border-radius: 25px;
	margin: 0 7px;
	padding: 10px 22px;
	font-size: 14px;
	transition: 0.3s;
	width:200px;
}
#banner .block .btn-learn:hover {
	border-color: #80d6a3;
  	color: #80d6a3;
}
#banner .block .buttons {
  	margin-top: 40px;
}
#banner .block .buttons a:first-child {
  	margin-left: 0;
}
#banner .scrolldown {
	position: absolute;
	left: 50%;
	bottom: 18%;
}
#banner .scrolldown .scroll {
	border-radius: 100px;
	width: 25px;
	height: 45px;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -15px;
	display: inline-block;
	border: 1px solid #fff;
	z-index: 99;
}
#banner .scrolldown .scroll:after {
	background: #fff;
	border-radius: 300px;
	width: 4px;
	height: 9px;
	position: absolute;
	top: 10px;
	left: 50%;
	margin: 0 0 0 -2px;
	display: block;
	content: " ";
	-webkit-animation: wiggle 0.5s linear 0s infinite alternate;
	-moz-animation: wiggle 0.5s linear 0s infinite alternate;
	-o-animation: wiggle 0.5s linear 0s infinite alternate;
	animation: wiggle 0.5s linear 0s infinite alternate;
}
.btn-default {
	width:150px;
	-webkit-appearance:none;
	border:none;
	background-color:transparent;
	border-radius:5px;
	padding:10px 30px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:15px;
	transition:0.4s all ease;
	cursor:pointer;
}
.btn-default:hover {
	border:none;
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.24), 0 3px 0 0 rgba(0,0,0,0.19);
	background-color:transparent;
	cursor:pointer;
}
a.btn {
	background-color:#dddddd;
	color:black;
}
.readmore {
	border-radius:10px;
	padding:20px;
}
.readmore .article-cont {
	padding:10px 20px;
	text-align:justify;
}
.form-control {
 	display: block;
 	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}
.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-control::-moz-placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-control::-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-control::placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}
.file-container {
	width:100%;
	border:1px solid black;
	padding:5px;
}
.footer {
	position:relative;
	bottom:0;
	width:100%;
	height:230px;
	color:#80d6a3;
}
.footer-contents-box {
	width:25vw;
	height:230px;
	padding:20px;
}
.footer-contents ul {
	list-style-type:none;
}
.footer-contents ul li {
	line-height:2;
	color:white;
}
.footer-link {
	font-size:15px;
}
.footer-link-icon {
	width:20px;
	height:20px;
	background-color: none;
	border:0;
	margin:0 !important;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container-mid {
	padding-right:80px;
	padding-left:80px;
}
.img-container {
	width:auto;
	height:auto;
}
.stick-bottom {
	width:inherit;
	position:absolute;
	bottom:0;
	clear:both;
}
.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
	font-weight:700;
	font-size:2.1rem;
}
.circle-container {
	padding:2px;
	transition:1s all ease;
}
.circle-container:hover, .circle-container:hover .modal-icons {
	transform: scale(1.5);
	transition:1.2s all ease;
}
.circle {
	margin:auto;
	width:100px;
	height:100px;
	border-radius:1000px;
	background-color:#80d6a3;
	object-fit:fill;
	background-position:50% 50%;
	background-repeat:no-repeat;  
}
#modal-frist {
	transition: visibility 0s, opacity 0.5s linear;
}
#modal-second {
	display:none;
	transition: visibility 0s, opacity 0.5s linear;
}
.carousel-container {
	min-width:100% !important;
	min-height:100vh !important;
	max-width:100% !important;
	max-height:100vh !important;
}
.w-100 {
	width:100% !important;
	height:100% !important;
}
.caption {
	position:absolute;
	left:15% !important;
	right:15% !important;
	bottom:10%;
}
.caption p {
	margin-top:0 !important;
}
.table .primary_id {
	background-color:#333;
	color:white;
	text-align:center;
}

@media (min-width: 576px) {
	.col-sm {
		-ms-flex-preferred-size: 0;
    	flex-basis: 0;
    	-webkit-box-flex: 1;
    	-ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%;
	}
 	.col-sm-auto {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	    flex: 0 0 auto;
	    width: auto;
	    max-width: none;
	}
	.col-sm-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
  	.col-sm-2 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 16.666667%;
	    flex: 0 0 16.666667%;
	    max-width: 16.666667%;
  	}
  	.col-sm-3 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	}
  	.col-sm-4 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
  	}
 	.col-sm-5 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 41.666667%;
	    flex: 0 0 41.666667%;
	    max-width: 41.666667%;
  	}
  	.col-sm-6 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
  	}
  	.col-sm-7 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 58.333333%;
	    flex: 0 0 58.333333%;
	    max-width: 58.333333%;
 	}
 	.col-sm-8 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 66.666667%;
	    flex: 0 0 66.666667%;
	    max-width: 66.666667%;
  	}
  	.col-sm-9 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 75%;
	    flex: 0 0 75%;
	    max-width: 75%;
	}
  	.col-sm-10 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 83.333333%;
	    flex: 0 0 83.333333%;
	    max-width: 83.333333%;
	}
  	.col-sm-11 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 91.666667%;
	    flex: 0 0 91.666667%;
	    max-width: 91.666667%;
  	}
  	.col-sm-12 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
  	}
	.container {
    	max-width: 830px;
  	}
	.footer-link {
		font-size:15px;
	}
}

@media (max-width: 768px) {
	.col-md {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%;
  	}
  	.col-md-auto {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	    flex: 0 0 auto;
	    width: auto;
	    max-width: none;
  	}
  	.col-md-1 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 8.333333%;
	    flex: 0 0 8.333333%;
	    max-width: 8.333333%;
  	}
  	.col-md-2 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 16.666667%;
	    flex: 0 0 16.666667%;
	    max-width: 16.666667%;
  	}
  	.col-md-3 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
 	}
  	.col-md-4 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
  	}
  	.col-md-5 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 41.666667%;
	    flex: 0 0 41.666667%;
	    max-width: 41.666667%;
  	}
  	.col-md-6 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
  	}
  	.col-md-7 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 58.333333%;
	    flex: 0 0 58.333333%;
	    max-width: 58.333333%;
  	}
  	.col-md-8 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 66.666667%;
	    flex: 0 0 66.666667%;
	    max-width: 66.666667%;
  	}
  	.col-md-9 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 75%;
	    flex: 0 0 75%;
	    max-width: 75%;
  	}
  	.col-md-10 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 83.333333%;
	    flex: 0 0 83.333333%;
	    max-width: 83.333333%;
  	}
  	.col-md-11 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 91.666667%;
	    flex: 0 0 91.666667%;
	    max-width: 91.666667%;
  	}
  	.col-md-12 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
  	}
	.container {
  		max-width: 720px;
  	}
}

@media (min-width: 992px) {
	.col-lg {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%;
  	}
  	.col-lg-auto {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	    flex: 0 0 auto;
	    width: auto;
	    max-width: none;
  	}
  	.col-lg-1 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 8.333333%;
	    flex: 0 0 8.333333%;
	    max-width: 8.333333%;
  	}
  	.col-lg-2 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 16.666667%;
	    flex: 0 0 16.666667%;
	    max-width: 16.666667%;
  	}
  	.col-lg-3 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
  	}
  	.col-lg-4 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
  	}
  	.col-lg-5 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 41.666667%;
	    flex: 0 0 41.666667%;
	    max-width: 41.666667%;
	}
  	.col-lg-6 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
  	}
  	.col-lg-7 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 58.333333%;
	    flex: 0 0 58.333333%;
	    max-width: 58.333333%;
  	}
  	.col-lg-8 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 66.666667%;
	    flex: 0 0 66.666667%;
	    max-width: 66.666667%;
  	}
  	.col-lg-9 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 75%;
	    flex: 0 0 75%;
	    max-width: 75%;
  	}
  	.col-lg-10 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 83.333333%;
	    flex: 0 0 83.333333%;
	    max-width: 83.333333%;
  	}
  	.col-lg-11 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 91.666667%;
	    flex: 0 0 91.666667%;
	    max-width: 91.666667%;
	}
	.col-lg-12 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
  	}
  	.container {
    	max-width: 870px;
  	}
}

@media (min-width: 1200px) {
	.col-xl {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%;
  	}
  	.col-xl-auto {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	    flex: 0 0 auto;
	    width: auto;
	    max-width: none;
  	}
  	.col-xl-1 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 8.333333%;
	    flex: 0 0 8.333333%;
	    max-width: 8.333333%;
  	}
  	.col-xl-2 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 16.666667%;
	    flex: 0 0 16.666667%;
	    max-width: 16.666667%;
  	}
  	.col-xl-3 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
  	}
  	.col-xl-4 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
  	}
  	.col-xl-5 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 41.666667%;
	    flex: 0 0 41.666667%;
	    max-width: 41.666667%;
  	}
  	.col-xl-6 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
  	}
  	.col-xl-7 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 58.333333%;
	    flex: 0 0 58.333333%;
	    max-width: 58.333333%;
  	}
  	.col-xl-8 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 66.666667%;
	    flex: 0 0 66.666667%;
	    max-width: 66.666667%;
  	}
  	.col-xl-9 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 75%;
	    flex: 0 0 75%;
	    max-width: 75%;
  	}
  	.col-xl-10 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 83.333333%;
	    flex: 0 0 83.333333%;
	    max-width: 83.333333%;
  	}
  	.col-xl-11 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 91.666667%;
	    flex: 0 0 91.666667%;
	    max-width: 91.666667%;
  	}
  	.col-xl-12 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
  	}
  	.container {
    	max-width: 1070px;
  	}
}
@media (min-width: 320px) and (max-width: 479px) {
	#banner {
  		text-align: center;
  	}
	#banner .block .buttons a:first-child {
    	margin-left: 7px;
    	margin-bottom: 10px;
  	}
  	.bn-second-btn {
       margin-top:-10px !important;
  	}
}
@media (min-width:800px){
	.form-container {
		margin-top:20px;
	}
}
@media screen and (max-width:991px){
	#ul_nav_large {
		display:none !important;
	}
	#ul_nav_small {
		display:block !important;
	}
}
@media screen and (min-width:992px){
	#ul_nav_large {
		display:block !important;
	}
	#ul_nav_small {
		display:none !important;
	}
	.navbar li {
		display:inline;
	}
}